name: ci

on:
  push:
    branches:
      - master
      - renovate/*
      - dev/*
    tags:
      - v*
  pull_request:
    branches:
      - master
      - dev/*
      - stable/*

jobs:
  ci:
    uses: AmpelProject/Ampel-interface/.github/workflows/ci.yml@e880b6e4cc9827cb4a85a06d00cb36738d9dda93 # ci-py12-v3
    secrets: inherit
    with:
      lint: true
      # renovate: datasource=python-version depName=python
      python-version: "3.14.0"
      # renovate: datasource=pypi depName=ruff
      ruff-version: "0.14.4"
